<h1>您订阅的[<%= @keyword %>]有了一条新推送！</h1>
<h2><a href="<%= @article['article_url'] %>"><%= @article['article_title'] %></a></h2>
<p><%= @article['article_content'] %></p>
<img src="<%= @article['article_pic_url'] %>" />